<html>
  <head>
    <title>Creating Blog Page - detail</title>
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="nav-left">
        <ul>
          <img src="/public/images/logo.png" alt="logo" >
          <li>
              <a href="/">Home</a>
          </li>
          <li>
              <a href="/blog">Blog</a>
          </li>
        </ul>
      </div>

      <div class="nav-right">
          <a href="/contact">Contact Me</a>
      </div>
    </nav>

    <!-- Blog -->
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>{{.Blog.Title}}</h1>
        <div class="author">{{.Blog.PostDate}} | {{.Blog.Author}}</div>
        <img src="/public/images/blog-img-detail.png" alt="detail" />
        <p>{{.Blog.Content}}</p>
      </div>
    </div>
  </body>
</html>
